<% title = "Dummy Recipe Page" %>

<div class="container recipe-container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/images/dummy-recipe.jpg" alt="Recipe Image" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-6">
            <h1 class="text-dark">Spaghetti Carbonara</h1>
            <p class="font-weight-bold"><strong>Preparation Time:</strong> 20 mins</p>
            <p class="font-weight-bold"><strong>Cook Time:</strong> 15 mins</p>
            <p class="font-weight-bold"><strong>Serves:</strong> 4</p>

            <h4 class="text-dark mt-4">Ingredients:</h4>
            <ul class="list-group">
                <li class="list-group-item">200g spaghetti</li>
                <li class="list-group-item">100g pancetta</li>
                <li class="list-group-item">2 large eggs</li>
                <li class="list-group-item">50g pecorino cheese</li>
                <li class="list-group-item">50g parmesan</li>
                <li class="list-group-item">Freshly ground black pepper</li>
            </ul>

            <h4 class="text-dark mt-4">Instructions:</h4>
            <ol class="list-group">
                <li class="list-group-item">Cook the spaghetti in salted boiling water.</li>
                <li class="list-group-item">Fry the pancetta until crisp and set aside.</li>
                <li class="list-group-item">Whisk the eggs, cheese, and pepper together.</li>
                <li class="list-group-item">Mix everything with the drained spaghetti.</li>
            </ol>

            <h4 class="text-dark mt-4">Nutrition Info:</h4>
            <ul class="list-group">
                <li class="list-group-item">Calories: 450</li>
                <li class="list-group-item">Protein: 20g</li>
                <li class="list-group-item">Fat: 15g</li>
                <li class="list-group-item">Carbohydrates: 60g</li>
            </ul>
        </div>
    </div>
</div>
